<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: head"></head>

<body>
	<!-- TOP NAV WITH LOGO -->  
    <header th:replace="layout :: header"></header>
    
    <section>
         <div id="head">
            <div class="line">
               <h1>Connecte toi</h1>
            </div>
         </div>
         <div id="content" class="left-align contact-page">
            <div class="line">
               <div class="margin">
                  <div class="s-12 l-4 l-offset-2">
                  		<form th:action="@{/connexion}" method="POST" class="customform">
							<h3 style="color : black">Se connecter</h3>
							
							<div align="center" th:if="${param.error}">
								<p style="font-size: 20; color: #FF1C19;">Email or Password invalid, please verify</p>
							</div>
							
							<br/>
							
									<input type="text" id="email" name="email"  th:placeholder="Email" />
						    
						    <br/>
						     
									<input type="password"  th:placeholder="Password" id="password" name="password" /> 
							
							<br/> 
								
							
									<button name="Submit" value="Login" type="Submit" th:text="Login"></button>
							
						</form>
				
                  </div>
                  <div class="s-12 l-4">
                  		<form autocomplete="off" action="#" th:action="@{/registration}"
							th:object="${user}" method="post" class="customform"
							role="form">
							
							<h3 style="color : black">S'enregistrer</h3><br/>
							
							<span th:utext="${successMessage}"></span>
							

									<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{name}" placeholder="Name"
										class="form-control" />
										
							
							<br/>

									<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{lastName}"
										placeholder="Last Name" class="form-control" />

							<br/>
									<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{email}" placeholder="Email"
										class="form-control" /> 
							
							<br/>
									<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
										class="validation-message"></label>
										
									<input type="password" th:field="*{password}"
										placeholder="Password" class="form-control" /> 
		
							<br/>
							

									<button type="submit" class="btn btn-primary btn-block">Register User</button>

							
							
						</form>
                  </div>
               </div>
            </div>
         </div>
         <!-- MAP -->	
         <div id="map-block">  	  
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d682251.1123056135!2d17.063451638281247!3d48.09010461740988!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476c8cbf758ecb9f%3A0xddeb1d26bce5eccf!2sGallayova+2150%2F19%2C+841+02+D%C3%BAbravka%2C+Slovensk%C3%A1+republika!5e0!3m2!1ssk!2s!4v1412519122400" width="100%" height="450" frameborder="0" style="border:0"></iframe>
         </div>
         
		</section>
      
	
		<!-- FOOTER -->   
        <footer th:replace="layout :: footer" ></footer>
			
	
</body>
</html>