<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

   <head th:replace="layout :: head"></head>
   
   
   <body class="size-1140">
   
      <!-- TOP NAV WITH LOGO -->  
      <header th:replace="layout :: header"></header>
      <div class="content-wrapper">
	      <div class="container">
	      	
	      	<div class="row">
	      	
	      		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
	   
	   
		          <div class="panel panel-info">
		            <div class="panel-body">
		              <div class="row">
		                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" th:src="@{img/user.jpg}" class="img-circle img-responsive"> </div>
		                
		                <div class=" col-md-9 col-lg-9 "> 
		                  <table class="table table-user-information">
		                    <tbody>
		                      <tr>
		                        <td>Nom : </td>
		                        <td th:text="${user.lastName}"></td>
		                      </tr>
		                      <tr>
		                        <td>Prénom : </td>
		                        <td th:text="${user.name}"></td>
		                      </tr>
		                      <tr>
		                        <td>Email : </td>
		                        <td th:text="${user.email}"></td>
		                      </tr>
		                   
		                      <tr>
		                        <td>Adresse : </td>
		                        <td>En cours ...</td>
		                      </tr>
		                        <tr>
		                        <td>N° Téléphone</td>
		                        <td>En cours ...</td>
		                      </tr>
		                      <tr>
		                        <td>Role</td>
		                        <div th:each="role : ${user.roles}">
		                        	<td th:text="${role.role}"></td>
		                        </div>
		                      </tr>
		                     
		                    </tbody>
		                  </table>
		                </div>
		              </div>
		            </div>
		                 <div class="panel-footer">
		                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"> </i>  &nbsp;  Envoyer un message à l'administration</a>
		                        <span class="pull-right">
		                            <a href="/editProfil" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"> </i>  &nbsp;  Editer mon profil</a>
		                        </span>
		                    </div>
		            
		          </div>
		        </div>
	      	
	      	</div>
      	</div>
      </div>
      
      <footer th:replace="layout :: footer"></footer>
      
   </body>
</html>