<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: head"></head>

<body>
	<!-- TOP NAV WITH LOGO -->  
    <header th:replace="layout :: header"></header>
    
    <section>
         <div id="head">
            <div class="line">
               <h1>Connecte toi</h1>
            </div>
         </div>
         <div id="content" class="left-align contact-page">
            <div class="line">
               <div class="margin">
                  <div class="s-12 l-4 l-offset-4">
                  		<form autocomplete="off" action="#" th:action="@{/registration}"
							th:object="${user}" method="post" class="customform"
							role="form">
							
							<h3 style="color : black">S'enregistrer</h3><br/>
							
							<span th:utext="${successMessage}"></span>
							

									<label th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{name}" placeholder="Name"
										class="form-control" />
										
							
							<br/>

									<label	th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{lastName}"
										placeholder="Last Name" class="form-control" />

							<br/>
									<label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="validation-message"></label>
										
									<input type="text" th:field="*{email}" placeholder="Email"
										class="form-control" /> 
							
							<br/>
									<label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
										class="validation-message"></label>
										
									<input type="password" th:field="*{password}"
										placeholder="Password" class="form-control" /> 
		
							<br/>
							

									<button type="submit" class="btn btn-primary btn-block">Register User</button>

							
							
						</form>
                  </div>
               </div>
            </div>
         </div>
         
		</section>
      
	
		<!-- FOOTER -->   
        <footer th:replace="layout :: footer" ></footer>
			
	
</body>
</html>