<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">

	<head th:replace="layout :: head"></head>

<body>
	<!-- TOP NAV WITH LOGO -->  
    <header th:replace="layout :: header"></header>
    
    
	<div class="content-wrapper">
		
		<div class="container">
			<div class="row">
				<div class="col-md-12"> <h3 class="header-line lead text-primary">Liste de mes magasins : <a href="addStore" class="btn btn-primary pull-right">Ajouter un magasin</a></h3> </div>
			</div>
			<div class="row">
				<div th:each="store : ${stores}" class="col-md-6 col-sm-6" >
                    
	                    <div class="panel panel-success">
	                        <div class="panel-heading">
	                            <h4><i class="fa fa-home" aria-hidden="true"> &nbsp; </i><span th:text="${store.name}"></span></h4>
	                        </div>
	                        <div class="panel-body">
                            	
                            	<span class="text-success">Description : </span><span th:text="${store.description}"></span> <br/>
                            	<span class="text-success"> N° Telephone : </span><span th:text="${store.telephone}"></span> <br/>
	                            <br/>
	                            <span class="text-success"> Liste des produits au magasin : </span>
		                        
		                        <div class="table-responsive">    
		                            <table class="table">
									    <thead>
									      <tr>
									        <th>Nom</th>
									        <th>Prix</th>
									        <th>Quantité</th>
									      </tr>
									    </thead>
									    <tbody>
									    <tr th:each="produit : ${store.produit}"  class="active">
									        <td th:text="${produit.name}"></td>
									        <td th:text="${produit.price}"></td>
									        <td th:text="${produit.amount}"></td>
									        <td><a th:href="@{${produit.id}} +'/editProduit'">editer</a></td>
									     </tr>
									    </tbody>
									</table>
	                            </div>
	                            
	                            <a th:href="@{${store.id}} +'/addProduit'" class="btn btn-success pull-right">Ajouter mes produits</a>
	                            
	                        </div>
	                        <div class="panel-footer">
	                            <span class="text-success">Adresse : </span><span th:text="${store.adresse}"></span> <br/>
	                            <span class="text-success">Position : </span>
                                    (<span th:text="${store.latitude}"></span>,<span th:text="${store.longitude}"></span>)
	                        </div>
	                        
	                        
	                    </div>
	                
                </div>
			</div>
		</div>
	</div>
	<footer th:replace="layout :: footer"></footer>
		
</body>
</html>